.navigation {
    width: 150px;
}

.navigation .emoji {
    display: inline-block;
    text-align: inherit;
    padding-left: 5px;
}

.navigation ul {
    text-align: inherit;
    padding: 20px;
    margin: 0;

}

.navigation a:hover {
    color: #23d160;
}